@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area ostrava to provide additional information.</p>

<p>Your name: @ViewData["FullName"].</p>>
